<div class="wrapper">
    <section class="container main-body-wrapper" ng-form="preEngQuestionform">
      <div class="head-banner">
        <h3>Point of Contact</h3>
      </div>
      <!--Q & A table -->
      <div class="first-table">
        <table class="table">
          
            <!--Questionaire-->
            <tr >
              <td>Manager</td>
              <td><input
            
            type = "text" placeholder="Manager Name" /></td>
            <td><input
            
            type = "text" placeholder="Manager Name" /></td>
            <td><input
            
            type = "text" placeholder="Manager Name" /></td>
            </tr>
            <tr >
              <td>Product Engineer</td>
              <td><input
            
            type = "text" placeholder="Engineer Name" /></td>
            <td><input
            
            type = "text" placeholder="Engineer Name" /></td>
            <td><input
            
            type = "text" placeholder="Engineer Name" /></td>
            </tr>
            <tr >
              <td>SDL Engineer Name</td>
              <td><input
            
            type = "text" placeholder="SDL Engineer Name" /></td>
            <td><input
            
            type = "text" placeholder="SDL Engineer Name" /></td>
            <td><input
            
            type = "text" placeholder="SDL Engineer Name" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <footer>
      <div class="footer-btn container">
        <button ng-disabled="preEngQuestionform.$invalid" class="btn btn-primary pull-right" ng-click="submitPreEngagementForm()">Save</button>
      </div>
    </footer>
  </div>