/* Styles go here */
@import "custom-font.css";


body {
 margin-bottom : 15px; 
 font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B',Helvetica,Arial,sans-serif;
}
.header-wrapper {
  background-color : #5687bf;
}
.header-wrapper h3 {
  color : #fff;
  }
.head-banner h3 {
  text-align : center;
}
table {
  border : 1px solid #000;
}
.table > thead > tr > th {
  border : none;
}
.footer-btn > .btn{
  width : 30%;
}
#ft-head {
  background-color : #5687bf;
  color : #fff;
}
.table-header-2 {
  background : #cecece;
  border-bottom : 1px solid #000;
}
/*td {*/
/*  border : 1px solid #000;*/
/*}*/