<div class = "psb-mod-wrapper container" style="margin-top : 15px;">
    <table class ="table">
      <thead>
        <tr>
          <th>Action</th>
          <th>Modify</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pre-Engagement</td>
          <td><button ng-click = "changeRoute('preengage')" class = "btn btn-xs btn-primary">PRE-ENGAGEMENT</button></td>
        </tr>
        <tr>
          <td>PSB</td>
          <td><button ng-click = "changeRoute('psbform')" class = "btn btn-xs btn-primary">PSB</button></td>
        </tr>
        <tr>
          <td>Help</td>
          <td><button class = "btn btn-xs btn-primary" ng-click = "changeRoute('psb')" >HELP</button></td>
        </tr>
        <tr>
          <td>POC</td>
          <td><button class = "btn btn-xs btn-primary" ng-click = "changeRoute('poc')" >POC</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  