<div class = "psb-mod-wrapper container" style="margin-top : 15px;">
    <table class ="table">
      <thead>
        <tr>
          <th>Modify Template</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Modify Text</td>
          <td><button class = "btn btn-xs btn-primary">Modify</button></td>
        </tr>
        <tr>
          <td>Modify Text</td>
          <td><button class = "btn btn-xs btn-primary">Modify</button></td>
        </tr>
        <tr>
          <td>Modify Text</td>
          <td><button class = "btn btn-xs btn-primary">Modify</button></td>
        </tr>
        <tr>
          <td>Modify Text</td>
          <td><button class = "btn btn-xs btn-primary">Modify</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  