<!DOCTYPE html>
<html>

<head>
  <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="custom-font.css" />
  <script src="script.js"></script>
</head>

<body>
  <header>
    <div class="container-fluid header-wrapper">
      <h3>NetApp</h3>
    </div>
  </header>
  
  <div class = "thanks-wrapper">
      <h1>Thanks for your feedback!</h1>
  </div>
</body>

</html>