<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/static/style1.css" />
    <link rel="stylesheet" href="/static/custom-font.css" />
    <script src="/static/welcome_page_script.js"></script>
  </head>

  <body>
    <header>
      <div class="container-fluid header-wrapper">
        <h3>NetApp</h3>
	<h4 align="right"><a href="/logout">Logout</a></h4>
      </div>
    </header>
    <section class="container main-body-wrapper">
      <!--Heading - body-->
      <div class=" head-banner">
        <h3>Welcome to the NetApp Product Security Team</h3>
      </div>
      <!--Main Section-->
      <!--Option - Products-->
      <div class="option-wrapper">
        <div class="form-group">
          <select class="form-control" id="sel1">
            <option>Select a product</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
      <!--Option - Products-->
      <!--Buttons - Path PSB | P-->
      <div class="path-wrapper row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <button class="btn btn-lg btn-primary">
          PSB
        </button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <button class="btn btn-lg btn-primary">
          PSIRT
        </button>
        </div>
      </div>
    </section>
    <footer></footer>
  </body>

</html>
