<!DOCTYPE html>
<html>

<head>
  <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="custom-font.css" />
  <script src="script.js"></script>
</head>

<body>
  <header>
    <div class="container-fluid header-wrapper">
      <h3>NetApp</h3>
    </div>
  </header>
  <section class="main-body-wrapper">
    
    <div class = "container head-banner">
      <h3>Welcome to the NetApp Product Security Baseline (PSB)!</h3>
    </div>
    
    <div class="container first-table">
      <h2>Fill the Table</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Requirement</th>
            <th>Why?</th>
            <th>Status</th>
            <th>Justification</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ASR-1</td>
            <td>The system must monitor and record successful and unsuccessful login attempts</td>
            <td>The system must monitor and record login attempts to assist with investigating an intrusion. If an attacker gains access to a NetApp product in the field, the Customer Security department needs to retrieve a list of when accounts logged in to identify compromised accounts.</td>
            <td><select>
                <option>PASS</option>
                <option>FAIL</option>
                <option>BACKLOG</option>
                <option>APPLICABLE</option>
                <option>Not Yet Answered</option>
            </select></td>
            <td><input type = "text" placeholder="Put in justification" /></td>
          </tr>
          <tr>
            <td>ASR-10</td>
            <td>For command-line authentication, the root account should not be permitted to login remotely</td>
            <td>The root account is the highest privileged account within our product. We need to provide multiple layers of protection to insulate the root account from being compromised.</td>
            <td><select>
                <option>PASS</option>
                <option>FAIL</option>
                <option>BACKLOG</option>
                <option>APPLICABLE</option>
                <option>Not Yet Answered</option>
            </select></td>
            <td><input type = "text" placeholder="Put in justification" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <footer>
    <div class="footer-btn container">
      <button class="btn btn-lg btn-primary pull-right">Next</button>
    </div>
  </footer>
</body>

</html>