<div class="wrapper">
    <section class="container main-body-wrapper">
      <div class="head-banner">
        <h3>Admin Task/ Workspace</h3>
      </div>
      <!--Q & A table -->
      <div class="first-table">
        <table class="table">
          <thead class="table-header-2">
            <tr>
              <td>
                <select>
                  <option>Product</option>
                  <option>WFA</option>
                  <option>ONTAP</option>
                  <option>OCUM</option>
                  <option>WFA API</option>
                </select>
              </td>
              <td>
                <select>
                  <option>Version</option>
                  <option>1.0</option>
                  <option>2.0</option>
                  <option>3.0</option>
                  <option>4.0</option>
                </select>
              </td>
              <th>
                <button class="btn btn-lg btn-primary pull-right" ng-click="goToRegister()">Register Product</button>
              </th>
              <th>
                <button class="btn btn-lg btn-primary pull-right" ng-click="goToModify()">Modify Template</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <!--Questionaire-->
            <tr>
              <td>Pre-Engagement</td>
              <td>
                <a ui-sref = "preengage">New</a>
                <a ui-sref = "preengage">View</a>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr >
              <td>PSB</td>
              <td>
                <a ui-sref = "psbform">View</a>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Help</td>
              <td>
                <a ui-sref = "psb">View</a>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>POC</td>
              <td>
                <a ui-sref = "poc">View</a>
              </td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <footer>
      <div class="footer-btn container">
        <button class="btn btn-primary pull-right">Download Attachment</button>
      </div>
    </footer>
  </div>    